footer { font-size: 90%; font-family: monospace; }

header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-family: "Lucida Console" , "Liberation Mono";
    font-size: .875rem;
    /*background: #613DC1;*/
    background: #7954d0;
    border-bottom: 1px solid rgb(250, 250, 250);
}

  
element {
    color: #f8f8f2;
    background-color: #ffffff !important;; 
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}